.opletten{
    color:rgb(0, 34, 255);
    font-weight:bold;
}


.manual img {
    max-height:300px;
    width: fit-content;
}
@media only print {
    form {
        display: none;
    }
}
@media not print {
    body>div>div {
        flex:0 0 18cm;
        overflow:auto;
    }
}

